[Unit]
Description=Run set_qpmcw_mode on startup

[Service]
#User=root  #doesn't seem to do anything
Type=oneshot
ExecStartPre=/usr/bin/sleep 50
ExecStart=usr/bin/bash -c 'sudo /home/judy/repos/remote-phone/set_qpwmc_mode.py'
# the log is at /home/judy/py_set_qpwmc.log
#StandardOutput=file:/home/judy/set_qpwmc.log
#StandardError=file:/home/judy/set_qpwmc_err.log

[Install]
WantedBy=default.target