[Unit]
Description=Run set_qpmcw_mode on startup
Before=voice_call_receive.service

# https://serverfault.com/questions/1053369/systemd-how-to-start-service-after-another-service-started

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 40
RootDirectoryStartOnly=yes
RootDirectory=%h/repos/remote-phone
ExecStart=/usr/bin/bash -c 'sudo set_qpwmc_mode.py'

[Install]
WantedBy=default.target
