[Unit]
Description=Process incoming text messages using sms_receive.py

[Service]
# the sleep delay is to get 'uv run' ready; ideally there would be a 'After' used
ExecStartPre=/usr/bin/sleep 60
RootDirectoryStartOnly=yes
RootDirectory=%h/repos/remote-phone
ExecStart=sms_receive.py
# the log file is /tmp/sms_receive.log
Restart=no

[Install]
WantedBy=default.target
