[Unit]
Description=Process incoming phone calls using voice_call_receive.py
After=set_qpwmc.service

[Service]
#Type=dbus
#BusName=org.freedesktop.nm_dispatcher
ExecStartPre=/usr/bin/sleep 20
ExecStart=%h/repos/remote-phone/voice_call_receive.py
# the log file is /tmp/call_receive.log
Restart=no

[Install]
RequiredBy=set_qpwmc.target
